### Introduction

An API lets two pieces of software talk to each other. Just like a function, you don't have to know how the API works, only its inputs and outputs.  

An essential type of API is a REST API that allows you to access resources via the internet. 

In this lab, we will review the <ins>Pandas Library in the context of an API</ins>, we will also review a basic REST API.

## Pandas is an API

Pandas is actually set of software components , much of  which is not even written in Python.

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

You create a dictionary, this is just data.

In [4]:
dict_={'a':[11,21,31],'b':[12,22,32]}

When you create a Pandas object with the dataframe constructor, in API lingo this is an "instance". The data in the dictionary is passed along to the pandas API. You then use the dataframe to communicate with the API.

In [5]:
df=pd.DataFrame(dict_)
type(df)

pandas.core.frame.DataFrame

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/images/pandas_api.png" width="800," align="center" alt="logistic regression block diagram">

When you call the method `head` the dataframe communicates with the API displaying the first few rows of the dataframe.

In [6]:
df.head()

    a   b
0  11  12
1  21  22
2  31  32

When you call the method `mean`, the API will calculate the mean and return the value.

In [7]:
df.mean()

a    21.0
b    22.0
dtype: float64

## REST APIs

<p>Rest APIs function by sending a <b>request</b>, the request is communicated via HTTP message. The HTTP message usually contains a JSON file. This contains instructions for what operation we would like the service or <b>resource</b> to perform. In a similar manner, API returns a <b>response</b>, via an HTTP message, this response is usually contained within a JSON.</p>
<p>In this lab, we will use the <a href=https://pypi.org/project/nba-api/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01>NBA API</a> to determine how well the Golden State Warriors performed against the Toronto Raptors. We will use the API to determine the number of points the Golden State Warriors won or lost by for each game. So if the value is three, the Golden State Warriors won by three points. Similarly it the  Golden State Warriors lost  by two points the result will be negative two. The API will handle a lot of the details, such a Endpoints and Authentication. </p>

It's quite simple to use the nba api to make a request for a specific team. We don't require a JSON, all we require is an id. This information is stored locally in the API. We import the module `teams`.

In [16]:
!pip3 install nba_api

import nba_api as nba_api
from nba_api.stats.static import teams
import matplotlib.pyplot as plt

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nba_api in /Users/ayushwant/Library/Python/3.9/lib/python/site-packages (1.4.1)
Requirement already satisfied: requests<3.0,>=2.31 in /Users/ayushwant/Library/Python/3.9/lib/python/site-packages (from nba_api) (2.31.0)
Requirement already satisfied: numpy<2.0.0,>=1.22.2 in /Users/ayushwant/Library/Python/3.9/lib/python/site-packages (from nba_api) (1.26.3)
Requirement already satisfied: certifi<2024.0.0,>=2023.7.22 in /Users/ayushwant/Library/Python/3.9/lib/python/site-packages (from nba_api) (2023.11.17)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/ayushwant/Library/Python/3.9/lib/python/site-packages (from requests<3.0,>=2.31->nba_api) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/ayushwant/Library/Python/3.9/lib/python/site-packages (from requests<3.0,>=2.31->nba_api) (2.2.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/ayushwant/Library/Python/3.9/lib/python/site-packages (from requests<3.0,>=2.31->nba_api) (3.6)
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.

In [22]:
import pandas as pd

# The method get_teams() returns a list of dictionaries.

teams_list = teams.get_teams()
print(type(teams_list))
teams_list[0:3]

<class 'list'>

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Georgia',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970}]

To make things easier, we can convert the dictionary to a table. First, we use the function <code>create_one_dict_from_list_of_dict</code>, to create a dictionary. 

We use the common keys for each team as the keys, the value is a list; each element of the list corresponds to the values for each team.
We then convert the dictionary to a dataframe, each row contains the information for a different team.

In [27]:
# get the keys of the dictionaries, and append to the new dict

def create_one_dict_from_list_of_dict(list_dict):
    # get the list of keys
    keys = list_dict[0].keys()

    # create a dictionary, with the same keys and empty lists as the values
    one_dict = { key: [] for key in keys }

    # now iterate over all the dictionaries, and append their values to above dict's list of values
    for dict_ in list_dict:

        for key,value in dict_.items():
            one_dict[key].append(value)

    return one_dict

In [30]:
# get as a single dictionary

teams_dict = create_one_dict_from_list_of_dict(teams_list)

teams_dict

{'id': [1610612737,
  1610612738,
  1610612739,
  1610612740,
  1610612741,
  1610612742,
  1610612743,
  1610612744,
  1610612745,
  1610612746,
  1610612747,
  1610612748,
  1610612749,
  1610612750,
  1610612751,
  1610612752,
  1610612753,
  1610612754,
  1610612755,
  1610612756,
  1610612757,
  1610612758,
  1610612759,
  1610612760,
  1610612761,
  1610612762,
  1610612763,
  1610612764,
  1610612765,
  1610612766],
 'full_name': ['Atlanta Hawks',
  'Boston Celtics',
  'Cleveland Cavaliers',
  'New Orleans Pelicans',
  'Chicago Bulls',
  'Dallas Mavericks',
  'Denver Nuggets',
  'Golden State Warriors',
  'Houston Rockets',
  'Los Angeles Clippers',
  'Los Angeles Lakers',
  'Miami Heat',
  'Milwaukee Bucks',
  'Minnesota Timberwolves',
  'Brooklyn Nets',
  'New York Knicks',
  'Orlando Magic',
  'Indiana Pacers',
  'Philadelphia 76ers',
  'Phoenix Suns',
  'Portland Trail Blazers',
  'Sacramento Kings',
  'San Antonio Spurs',
  'Oklahoma City Thunder',
  'Toronto Raptors',
  'Utah Jazz',
  'Memphis Grizzlies',
  'Washington Wizards',
  'Detroit Pistons',
  'Charlotte Hornets'],
 'abbreviation': ['ATL',
  'BOS',
  'CLE',
  'NOP',
  'CHI',
  'DAL',
  'DEN',
  'GSW',
  'HOU',
  'LAC',
  'LAL',
  'MIA',
  'MIL',
  'MIN',
  'BKN',
  'NYK',
  'ORL',
  'IND',
  'PHI',
  'PHX',
  'POR',
  'SAC',
  'SAS',
  'OKC',
  'TOR',
  'UTA',
  'MEM',
  'WAS',
  'DET',
  'CHA'],
 'nickname': ['Hawks',
  'Celtics',
  'Cavaliers',
  'Pelicans',
  'Bulls',
  'Mavericks',
  'Nuggets',
  'Warriors',
  'Rockets',
  'Clippers',
  'Lakers',
  'Heat',
  'Bucks',
  'Timberwolves',
  'Nets',
  'Knicks',
  'Magic',
  'Pacers',
  '76ers',
  'Suns',
  'Trail Blazers',
  'Kings',
  'Spurs',
  'Thunder',
  'Raptors',
  'Jazz',
  'Grizzlies',
  'Wizards',
  'Pistons',
  'Hornets'],
 'city': ['Atlanta',
  'Boston',
  'Cleveland',
  'New Orleans',
  'Chicago',
  'Dallas',
  'Denver',
  'Golden State',
  'Houston',
  'Los Angeles',
  'Los Angeles',
  'Miami',
  'Milwaukee',
  'Minnesota',
  'Brooklyn',
  'New York',
  'Orlando',
  'Indiana',
  'Philadelphia',
  'Phoenix',
  'Portland',
  'Sacramento',
  'San Antonio',
  'Oklahoma City',
  'Toronto',
  'Utah',
  'Memphis',
  'Washington',
  'Detroit',
  'Charlotte'],
 'state': ['Georgia',
  'Massachusetts',
  'Ohio',
  'Louisiana',
  'Illinois',
  'Texas',
  'Colorado',
  'California',
  'Texas',
  'California',
  'California',
  'Florida',
  'Wisconsin',
  'Minnesota',
  'New York',
  'New York',
  'Florida',
  'Indiana',
  'Pennsylvania',
  'Arizona',
  'Oregon',
  'California',
  'Texas',
  'Oklahoma',
  'Ontario',
  'Utah',
  'Tennessee',
  'District of Columbia',
  'Michigan',
  'North Carolina'],
 'year_founded': [1949,
  1946,
  1970,
  2002,
  1966,
  1980,
  1976,
  1946,
  1967,
  1970,
  1948,
  1988,
  1968,
  1989,
  1976,
  1946,
  1989,
  1976,
  1949,
  1968,
  1970,
  1948,
  1976,
  1967,
  1995,
  1974,
  1995,
  1961,
  1948,
  1988]}

In [33]:
# convert to df

teams_df = pd.DataFrame(teams_dict)
teams_df

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946
8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967
9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970
10,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
11,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988
12,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946
16,1610612753,Orlando Magic,ORL,Magic,Orlando,Florida,1989
17,1610612754,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976
18,1610612755,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949
19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968
20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970
21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948
22,1610612759,San Antonio Spurs,SAS,Spurs,San Antonio,Texas,1976
23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967
24,1610612761,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995
25,1610612762,Utah Jazz,UTA,Jazz,Utah,Utah,1974
26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995
27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961
28,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988

Will use the team's nickname to find the unique id, we can see the row that contains the warriors by using the column nickname as follows:

In [36]:
df_warriors = teams_df[ teams_df['nickname']=='Warriors' ]
df_warriors

,id,full_name,abbreviation,nickname,city,state,year_founded
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946

In [40]:
nicknames = teams_df['nickname']
print(type(nicknames))
# print(nicknames)

<class 'pandas.core.series.Series'>

In [41]:
id_warriors=df_warriors[['id']].values[0][0]
# we now have an integer that can be used to request the Warriors information 
id_warriors

1610612744

The function "League Game Finder " will make an API call, it's in the module <code>stats.endpoints</code>.

In [42]:
from nba_api.stats.endpoints import leaguegamefinder

/Users/ayushwant/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(